In [1]:
def bfs(graph,start):
  visited = []
  queue = [start]

  while queue:
      node = queue.pop(0)
      if node not in visited:
          visited.append(node)
          neighbours  = graph[node]
          for neighbour in neighbours:
              queue.append(neighbour)
  return visited

In [2]:
graph = { 'Amin' : {'Wasim','Nick','Mike'},
          'Wasim' : {'Imran','Amin'},
          'Imran' : {'Wasim','Faras'},
          'Faras' : {'Imran'},
          'Mike' : {'Amin'},
          'Nick' : {'Amin'}}

In [3]:
bfs(graph, 'Amin')

['Amin', 'Nick', 'Wasim', 'Mike', 'Imran', 'Faras']

In [4]:
bfs(graph, 'Amin')

['Amin', 'Nick', 'Wasim', 'Mike', 'Imran', 'Faras']

In [5]:
bfs(graph,'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Nick', 'Mike']

In [6]:
bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [7]:
graph={ 'Rektor' : {'Warek 1', 'Warek 2'},
        'Warek 1' : {'Rektor'},
        'Warek 2' : {'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'},
        'Kaprodi 1' : {'Dosen A', 'Dosen B', 'Dosen C'},
        'Kaprodi 2' : {'Dosen D', 'Dosen E'},
        'Kaprodi 3' : {'Dosen F', 'Dosen G'},
        'Dosen A' : {'Kaprodi 1', 'Dosen B'},
        'Dosen B' : {'Dosen A', 'Dosen C'},
        'Dosen C' : {'Dosen B'},
        'Dosen D' : {'Kaprodi 2', 'Dosen E'},
        'Dosen E' : {'Dosen D'},
        'Dosen F' : {'Kaprodi 3', 'Dosen F'},
        'Dosen G' : {'Dosen F'}}

In [8]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek 2',
 'Warek 1',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Dosen B',
 'Dosen A',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G']

In [9]:
def dfs(graph, start, visited=None):
    if visited is None:
        visited = set()
    visited.add(start)
    print(start)
    for next in graph[start] - visited:
         dfs(graph, next, visited)
    return visited

In [10]:
graph = { 'Amin' : {'Wasim','Nick','Mike'},
          'Wasim' : {'Imran','Amin'},
          'Imran' : {'Wasim','Faras'},
          'Faras' : {'Imran'},
          'Mike' : {'Amin'},
          'Nick' : {'Amin'}}

In [11]:
dfs(graph, 'Amin')

Amin
Nick
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [12]:
dfs(graph, 'Wasim')

Wasim
Imran
Faras
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [13]:
dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [14]:
dfs(graph, 'Nick')

Nick
Amin
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [15]:
graph={ 'Rektor' : {'Warek 1', 'Warek 2'},
        'Warek 1' : {'Rektor'},
        'Warek 2' : {'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'},
        'Kaprodi 1' : {'Dosen A', 'Dosen B', 'Dosen C'},
        'Kaprodi 2' : {'Dosen D', 'Dosen E'},
        'Kaprodi 3' : {'Dosen F', 'Dosen G'},
        'Dosen A' : {'Kaprodi 1', 'Dosen B'},
        'Dosen B' : {'Dosen A', 'Dosen C'},
        'Dosen C' : {'Dosen B'},
        'Dosen D' : {'Kaprodi 2', 'Dosen E'},
        'Dosen E' : {'Dosen D'},
        'Dosen F' : {'Kaprodi 3', 'Dosen F'},
        'Dosen G' : {'Dosen F'}}

In [16]:
dfs(graph, 'Rektor')

Rektor
Warek 2
Kaprodi 1
Dosen B
Dosen A
Dosen C
Dosen A
Dosen C
Kaprodi 2
Dosen D
Dosen E
Dosen E
Kaprodi 3
Dosen F
Dosen G
Warek 1

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Rektor',
 'Warek 1',
 'Warek 2'}